/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */


@media screen and (max-width: 768px){
    .pushy{
        font-size: 1.0em;
    }
}