body {
  font-family: "HelveticaNeue-Light", sans-serif; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.top-bar {
  height: 66px;
  width: 100%;
  background: white;
  color: #34495e;
  padding: 0px 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
  .top-bar p {
    margin: 0px; }

.welcome-user {
  width: 50%;
  float: left; }

.mobile-menu-btn {
  float: right; }

.mobile-menu-btn {
  display: none; }
  @media (max-width: 760px) {
    .mobile-menu-btn {
      display: inline !important; } }

/* Menu Appearance */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #34495e;
  font-size: 0.9em;
  font-weight: bold;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }
  .pushy ul {
    padding: 0px 15px 15px; }
    .pushy ul li {
      font-weight: normal; }
  .pushy .menu-cat {
    font-weight: normal;
    margin-bottom: 5px; }

.pushy a {
  display: block;
  color: #b3b3b1;
  text-decoration: none; }

.pushy a:hover {
  color: #FFF; }

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -moz-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  -o-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); }

.pushy-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.container-push, .push-push {
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0); }

/* Menu Transitions */
.pushy, #container, .push {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  /* improves performance issues on mobile*/
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  z-index: 9999; }

/* Menu Button */
.menu-btn {
  width: 100px;
  text-align: right;
  cursor: pointer; }

.menu-btn:hover {
  color: #34495e; }

.main-menu ul {
  border-bottom: 1px solid #2c3e50;
  padding: 0px 15px 15px; }
.main-menu .menu-cat {
  font-weight: normal;
  margin-bottom: 5px; }

.left {
  width: 20%;
  float: left;
  background: #34495e;
  color: #ecf0f1; }
  @media (max-width: 760px) {
    .left {
      display: none; } }

.right {
  width: 80%;
  height: 30px;
  padding: 0px 2%;
  background: rgba(236, 240, 241, 0.34);
  color: #34495e;
  float: left; }
  @media (max-width: 760px) {
    .right {
      width: 100%; } }
